body{
    background-color: #010206; 
    background-image: url(images/night.jpg);
    background-repeat: repeat; 
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.nav{
    color: white; 
}

.nav a{
    color: white; 
    font-family: sans-serif;
}

.nav li{
    color: white; 
    display:inline;
    text-align: left; 
    text-decoration: none;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.jumbotron{ 
    color: white; 
    font-family:fantasy;
    text-decoration: none;
    text-align: center;
    position: relative;
    font-size: 40px;
    top: -40px;
}


.container{ 
    background-color: #EFF2FD;
    border-radius: 25px;
    position: relative;
    width: 80%;
    left: 10%;
    font-family: monospace; 
    text-align: center;
}

.Generate{ 
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 10px;
}

.Generate input{
    height: 50px;
    font-size: 20px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    display: inline-block;
}
/*THE above is great */

.Generate p{
    font-size: 16px;
}

.END{
    background-color: #DEE2F2;
    font-size: 22px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.OUTPUT{
    font-size: 22px;
    padding-top: 15px;
}

.helpSpot{
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    background-color: white;
    text-align: left;
    padding-left: 15px;
    padding-top: 10px;
}

#stepsJump{
    padding-bottom: 10px;
}



@media only screen and (max-width: 974px){
    #message, #output{
        width: 550px;
    }

}
    
@media only screen and (max-width: 762px){
     .jumbotron{ 
    font-size: 26px;
         top: 10%;
  } 
    
    #pub{
        width: 280px;
       
    }
    #priv{
        width: 272px; 
    }
    
    .END {
    font-size: 15px;
    }
    
    #message, #output{
        width: 400px;
    }
}


@media only screen and (max-width: 545px){
    .jumbotron{ 
    font-size: 16px;
    }
    
    
    #pub{
        width: 280px;
       
    }
    #priv{
        width: 272px; 
    }
    
    .END {
    font-size: 12px;
    }
    
    #message, #output{
        width: 250px;
    }
    
    .Generate input{
    font-size: 10px;
    width: 250px;
}
     .Generate p{
    font-size: 12px;
}
    #with{
        display: none;
    }
    
      .helpSpot{
    font-size: 10px; 
}
    
    .OUTPUT u{
   font-size: 14px;
    }
    
    
}